In [132]:
import pandas
%matplotlib inline
import matplotlib.pyplot as plt

In [133]:
data= pd.read_csv("C:/Users/gordee-ext/OneDrive - Louis Dreyfus Company/Desktop/Netology/Материалы_к_лекции_1/data/housing.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [134]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [135]:
#Task 2
#Группировка средних значений total_bedrooms в разрезе ocean_proximity
total_bedrooms_mean=data.total_bedrooms.groupby(data.ocean_proximity).mean()
total_bedrooms_mean

ocean_proximity
<1H OCEAN     546.539185
INLAND        533.881619
ISLAND        420.400000
NEAR BAY      514.182819
NEAR OCEAN    538.615677
Name: total_bedrooms, dtype: float64

In [136]:
#Подсчет кол-ва пустых значений для переменной total_bedrooms в разрезе ocean_proximity=='INLAND'
print(data.total_bedrooms[data.ocean_proximity=='INLAND'].value_counts(dropna = False).head(1))
#Замена пустых значений на средние в разрезе ocean_proximity=='INLAND'
data.total_bedrooms[data.ocean_proximity=='INLAND'].fillna(value=total_bedrooms_mean['INLAND']).value_counts(dropna = False).head(1)

NaN    55
Name: total_bedrooms, dtype: int64

533.881619    55
Name: total_bedrooms, dtype: int64

In [137]:
#Подсчет кол-ва пустых значений для переменной total_bedrooms в разрезе ocean_proximity=='<1H OCEAN'
print(data.total_bedrooms[data.ocean_proximity=='<1H OCEAN'].value_counts(dropna = False).head(1))
#Замена пустых значений на средние в разрезе ocean_proximity=='<1H OCEAN'
data.total_bedrooms[data.ocean_proximity=='<1H OCEAN'].fillna(value=total_bedrooms_mean['<1H OCEAN']).value_counts(dropna = False).head(1)

NaN    102
Name: total_bedrooms, dtype: int64

546.539185    102
Name: total_bedrooms, dtype: int64

In [138]:
#Подсчет кол-ва пустых значений для переменной total_bedrooms в разрезе ocean_proximity=='ISLAND'
print(data.total_bedrooms[data.ocean_proximity=='ISLAND'].value_counts(dropna = False).head(1))
#Замена пустых значений на средние в разрезе ocean_proximity=='ISLAND'
data.total_bedrooms[data.ocean_proximity=='ISLAND'].fillna(value=total_bedrooms_mean['ISLAND']).value_counts(dropna = False).head(1)

214.0    1
Name: total_bedrooms, dtype: int64

214.0    1
Name: total_bedrooms, dtype: int64

In [139]:
#Подсчет кол-ва пустых значений для переменной total_bedrooms в разрезе ocean_proximity=='NEAR BAY'
print(data.total_bedrooms[data.ocean_proximity=='NEAR BAY'].value_counts(dropna = False).head(1))
#Замена пустых значений на средние в разрезе ocean_proximity=='NEAR BAY'
data.total_bedrooms[data.ocean_proximity=='NEAR BAY'].fillna(value=total_bedrooms_mean['NEAR BAY']).value_counts(dropna = False).head(1)

NaN    20
Name: total_bedrooms, dtype: int64

514.182819    20
Name: total_bedrooms, dtype: int64

In [141]:
#Подсчет кол-ва пустых значений для переменной total_bedrooms в разрезе ocean_proximity=='NEAR OCEAN'
print(data.total_bedrooms[data.ocean_proximity=='NEAR OCEAN'].value_counts(dropna = False).head(1))
#Замена пустых значений на средние в разрезе ocean_proximity=='NEAR OCEAN'
data.total_bedrooms[data.ocean_proximity=='NEAR OCEAN'].fillna(value=total_bedrooms_mean['NEAR OCEAN']).value_counts(dropna = False).head(1)

NaN    30
Name: total_bedrooms, dtype: int64

538.615677    30
Name: total_bedrooms, dtype: int64

In [ ]:
#Task 3.